entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Build and Run SDK"

[[workflows.workflow]]
name = "Build and Run SDK"
author = 9088213
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd payments/src/sdk && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd payments/src/sdk && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
